body {
    background-size: cover;
}
.heading {
    width: 100%;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 1;
}
.heading h3 {
    display: inline;
}
.heading button {
    float: right;
    border: 1px solid white;
    display: inline;
}
.footer {
    background-color: #00b3ff;
    line-height: 3;
    bottom: 0;
    position: sticky;
}
canvas {
    margin: 20px;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
}